{% extends "base.html" %}

{% block title %}About - Baby Cry Categorization{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Welcome to the Baby Cry Categorization project. Here, we use advanced machine learning techniques to help caregivers
    understand and respond effectively to baby's cries.</p>

<h2>Our Team</h2>
<div class="row">
    <!-- Team Member 1 -->
    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Fernanda.JPG" alt="Team Member 1">
            <div class="card-body">
                <h5 class="card-title">Fernanda Auristondo</h5>
                <p class="card-text">COO</p>
            </div>
        </div>
    </div>

    <!-- Team Member 2 -->
    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Florian.JPG" alt="Team Member 2">
            <div class="card-body">
                <h5 class="card-title">Florian Schmitt</h5>
                <p class="card-text">CEO</p>
            </div>
        </div>
    </div>

    <!-- Team Member 3 -->
    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Emma.JPG" alt="Team Member 3">
            <div class="card-body">
                <h5 class="card-title">Emma Szonyi</h5>
                <p class="card-text">CFO</p>
            </div>
        </div>
    </div>

    <!-- Team Member 4 -->
    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Andrii.JPG" alt="Team Member 4">
            <div class="card-body">
                <h5 class="card-title">Andrii Buga</h5>
                <p class="card-text">CTO</p>
            </div>
        </div>
    </div>
</div>

<h2>Our Mission</h2>
<p>Discover the power of our groundbreaking AI-driven solution tailored for modern parents.
    Through precise sound analysis, our innovative tool not only records
    your baby's cries but also decodes their unique needs,
    empowering you with invaluable insights and enhancing the beautiful
    journey of parenthood. Experience the confidence
    of understanding your newborn like never before with our new app.</p>

<h2>Technologies Used</h2>
<p>Python, Pandas, Tensorflow Keras, VGG16, Random Forest</p>
{% endblock %}
