{% extends "base.html" %}

{% block title %}About - Baby Cry Categorization{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to the Baby Cry Categorization project. Here, we use advanced machine learning techniques to help caregivers understand and respond effectively to baby's cries.</p>

    <h2>Our Team</h2>
    <div class="row">
        <!-- Example of a team member card -->
        <div class="col-md-4">
            <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
                <img class="card-img-top" src="/statics/team/member1.jpg" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">Team Member Name</h5>
                    <p class="card-text">Short description about this team member.</p>
                </div>
            </div>
        </div>
        <!-- You can add more team member cards in a similar fashion -->
    </div>

    <h2>Our Mission</h2>
    <p>Describe the mission and vision of your project.</p>

    <h2>Technologies Used</h2>
    <p>Provide a brief about the technologies and methodologies used in this project.</p>
{% endblock %}
