{% extends "base.html" %}

{% block title %}About - Baby Cry Categorization{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Welcome to the Baby Cry Categorization project. Here, we use advanced machine learning techniques to help caregivers
    understand and respond effectively to baby's cries.</p>

<h2>Our Team</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Fernanda.JPG" alt="Team Member 1">
            <div class="card-body">
                <h5 class="card-title text-center">COO</h5>
                <h5 class="card-title text-center">Fernanda Auristondo</h5>
                <p class="card-text">
                    Hi, I am Fernanda and I used to work as a translator.
                    I am passionate about linguistics.
                    I love to learn from different areas, so now I will be diving into the Data Science world.
                    Besides the data and coding part, I am looking forward to meet all my classmates too.
                    I will be happy to work with you in the next projects! Feel free to reach me anytime</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Florian.JPG" alt="Team Member 2">
            <div class="card-body">
                <h5 class="card-title text-center">CEO</h5>
                <h5 class="card-title text-center">Florian Schmitt</h5>
                <p class="card-text">
                    Hi, my name is Florian and I studied mathematics at TU Berlin.
                    Currently, I am working at a small company which is active in the field of wind energy.
                    I started working with data in an amateur way at my company and would love to go deeper into the field of data science. </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Emma.JPG" alt="Team Member 3">
            <div class="card-body">
                <h5 class="card-title text-center">CFO</h5>
                <h5 class="card-title text-center">Emma Szonyi</h5>
                <p class="card-text">
                    I'm managing bars and clubs.
                    Currently on back-office level.
                    I can see 2 paths in front of me.
                    One is diving more deep in gastro data analysis or changing my carrier completely to a big company,
                    hopefully doing remote work.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #34495E; margin-bottom: 20px;">
            <img class="card-img-top" src="/statics/team/Andrii.JPG" alt="Team Member 4">
            <div class="card-body">
                <h5 class="card-title text-center">CTO</h5>
                <h5 class="card-title text-center">Andrii Buga</h5>
                <p class="card-text">
                    Worked before as Python Developer in Ukraine.
                    Now I want to dive deep in Data Science and Machine learning.
                    What to learn how prepared datasets for Machine learning to use it in the future.
                    After finishing course I'm planing to look for Job in Berlin
                </p>
            </div>
        </div>
    </div>
</div>

<h2>Our Mission</h2>
<p>Discover the power of our groundbreaking AI-driven solution tailored for modern parents.
    Through precise sound analysis, our innovative tool not only records
    your baby's cries but also decodes their unique needs,
    empowering you with invaluable insights and enhancing the beautiful
    journey of parenthood. Experience the confidence
    of understanding your newborn like never before with our new app.</p>

<h2>Technologies Stack</h2>
<p>Python, FastApi, Pandas, Librosa, Scikit-learn, Tensorflow, Keras, VGG16, Random Forest</p>
{% endblock %}
