{% extends "base.html" %}

{% block title %}Predict - Baby Cry Categorization{% endblock %}

{% block content %}
    <div class="container mt-4 text-center">
        <h1 style="font-size: 3rem; font-weight: bold; color: #EAEDED; border-bottom: 3px solid #3498DB; display: inline-block; padding-bottom: 10px;">
            NANCY - Baby cry categorization
        </h1>
        <div class="d-flex justify-content-center mt-4">
            <img src="/statics/pics/baby.jpg" alt="Baby Image"
                 class="rounded-circle" style="border: 4px solid #3498DB; max-width: 550px;"/>
        </div>
        <p class="mt-4" style="font-size: 1.2rem; color: #ECF0F1;">
            This is the final project presented by team NANCY for the LeWagon Bootcamp in Berlin, batch-1283
        </p>
    </div>
{% endblock %}
