{% extends "base.html" %}

{% block title %}Predict - Baby Cry Categorization{% endblock %}

{% block content %}
    <div class="container mt-5 text-center">
        <h1>Welcome to Baby Cry Categorization</h1>
        <p>
            Our cutting-edge machine learning project that helps parents and caregivers understand
            and respond effectively to baby's cries.
        </p>
        <div class="d-flex justify-content-center">
            <img src="/statics/pics/good_cry.png" alt=" Image" />
        </div>
    </div>

{% endblock %}
