{% extends "base.html" %}

{% block title %}Predict - Baby Cry Categorization{% endblock %}

{% block content %}
<h1>Predict</h1>
<p>
    Upload a baby cry audio file, and our advanced machine learning model will analyze it to
    categorize the type of cry.
</p>

<div class="text-danger font-weight-bold">
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor %}
</div>

<div class="text-success font-weight-bold">
    {% if msg %}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    {% endif %}
</div>

<form id="upload-form" action="/predict" method="post" enctype="multipart/form-data">
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<div id="analysis-message" class="mt-3" style="display: none;">
    <p>Analysing in progress...</p>
</div>

{% endblock %}
