{% extends "base.html" %}

{% block title %}About - Baby Cry Categorization{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Welcome to the Baby Cry Categorization project. Here, we use advanced machine learning techniques to help caregivers understand and respond effectively to baby's cries.</p>

    <!-- Carousel Slideshow for Presentation Slides -->
    <h2>Our Presentation</h2>
    <div id="presentationCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#presentationCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#presentationCarousel" data-slide-to="1"></li>
            <li data-target="#presentationCarousel" data-slide-to="2"></li>
            <!-- ... Add more indicators for more slides -->
        </ul>

        <!-- Slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/statics/presentation/slide1.png" alt="Slide 1" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide2.png" alt="Slide 2" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide3.png" alt="Slide 3" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide4.png" alt="Slide 4" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide5.png" alt="Slide 5" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide6.png" alt="Slide 6" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide7.png" alt="Slide 7" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide8.png" alt="Slide 8" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/statics/presentation/slide9.png" alt="Slide 9" class="d-block w-100">
            </div>
            <!-- ... Add more slides as needed -->
        </div>

        <a class="carousel-control-prev" href="#presentationCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#presentationCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- The rest of your About page content goes here -->
    ...
{% endblock %}
